// Specific CSS for your home-page
.pages {
height: 100vh;
width: 100%;
padding-left: 10rem;
background-position: center;
background-image: url("sunset.png");



}


.page-container {
 align-items: center;
 justify-content: center;
 background-position: center;
 display: grid;
 grid-template-columns: 1fr 1fr;
 border-radius: 10px;
 width: 100%;

 h1 {
   font-family: "Funnel Display", sans-serif;
  font-weight: 800;
  font-size: 100px;
 }
p {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 300;
  font-size: 200px;
}
.imgair {
  width: 50vw;
}
}

.btn-flat {
  color: black;
  padding: 16px 32px;
  font-size: 18px;
  border-radius: 6px;
  background: #FEF3E2;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn-flat:hover {
  background: #7eb7d4;
  color: white;
}
