
<h1>My Journeys</h1>


<div style="width: 100%; height: 600px;"
  data-controller="map2"
  id=map2
  data-map2-markers-value="<%= @markers.to_json %>"
  data-map2-api-key-value="<%= ENV['MAPBOX_API_KEY_2'] %>"></div>

  <button id="pause">Pause</button>
