<div class="pages">
  <div class="page-container">
    <div class="text-content">
      <h1 class="headline" >Explore Abroad</h1>
      <h2>Take your travels no where like ever before. Explore endless opportunities abroad.</h2>
      <%= link_to "Explore", countries_path, class: "btn btn-flat" %>
    </div>
    <%=image_tag("airplane.png", :class => "imgair") %>
  </div>
</div>
