.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-color: #FFF5E1;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    cursor: pointer;
  }
}

.card-trip {
  border-radius: 12px;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #fefefe;
}


.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: rgba(69, 67, 67, 1);
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  background-color: #FFF5E1;
  border-bottom: 1px solid #e0e0e0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-align: center;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0 16px 16px 16px;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product-bigger {
  height: 180px;

}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 2px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
