.country-img{
  object-fit: cover;
  width: 100%;
}

.jobs-image {
  object-fit: cover;
  width: 500px;
  height: 200px;
}

.visa-image {
  height: 300px;
  width: 530px;
  object-fit: cover;
}
.culture-class {
  width: 530px;
  height: 350px;
  object-fit: cover;
}

.btn {
  padding: 16px 32px; 
  font-size: 18px; 
  border-radius: 8px; 
  background-color: #FA812F; 
  color: white; 
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #7eb7d4;
  color: white;
}
