// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "map";
@import "card";
@import "job_card";
@import "submit_application";
@import "country_show";
@import "checkbox";




.section-header {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 32px;

  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  p {
    font-size: 1.1rem;
    color: #555;
    margin-top: 8px;
  }
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 24px;
}
