.submit_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        font-weight: bold;
    }
}

.submit-title {
    border-bottom: 5px groove rgba(0,0,0,0.8);
    border-left: 11px solid rgba(0,0,0,0.8);

    h3 {
        font-weight: bold;
    }
}

.submit-body {
    display: grid;

    .form-control {
        width: 80%;
        justify-content: space-evenly;
    }
}